# Ignore environment variables file
.env.development
.env.production

# Ignore SQLite database files
src/database/users.db

# Ignore uploads directory
src/uploads/

# Ignore node_modules directory
node_modules/
